/*------ CSS Use Case Example START ------*/

/* import font ROBOTO */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0 15px;
  box-sizing: border-box;
}

.background-0 { background: #C87D26; }
.background-1 { background: #569D99; }
.background-2 { background: #740039; }
.background-3 { background: #839FC5; }
.background-4 { background: #6A4F76; }
.background-5 { background: #57636D; }
.background-6 { background: #6D5242; }
.background-7 { background: #4F5051; }

.background-0,
.background-1,
.background-2,
.background-3,
.background-4,
.background-5,
.background-6,
.background-7 {
  transition: all 400ms ease;
}

/* class created only for a better preview*/
.stage {
  position: absolute;
  opacity: 1;
  max-width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: #333;
}

.stage.hidden {
  opacity: 0;
  transition: all 400ms ease;
}

@media screen and (max-width: 600px) {
  .stage {
    max-width: 100%;
  }
}

h1, h2, h3 {
 margin: 0;
}

h1 {
 font-size: 32px;
 font-weight: 400;
}

h2 {
 font-size: 24px;
 font-weight: 100;
 color: #FFF;
 text-align: center;
}

h3 {
 font-size: 18px;
 font-weight: 300;
 color: #BFBFBE;
 margin-top: 10px;
}

.title {
 width: 100%;
 padding-bottom: 30px;
 text-align: center;
 font-weight: 400;
 font-size: 22px;
 color: #fff;
}

.card-text {
  height: 100%;
}
.card-text-head{
margin: 5px 0px 5px 0px;
}

.card-text-content{
margin-bottom: 5px;
color: rgba(0,0,0,0.8)
}

.card-content {
 position: relative;
 color: #fff;
}

.card-image img{
 width: 100%;
 height: auto;
}

.card-footer img{
  width: 100%;
  height: 100%;
}
.card-titles {
 display: none;
}

.card-footer {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 padding: 25px 35px;
 border-top: 1px solid #000;
}

.popular-destinations-text {
 font-size: 16px;
 font-weight: 400;
 color: #8E9AA4;
 width: 100%;
 min-width: 110px;
}

.popular-destinations-images {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: end;
 -ms-flex-pack: end;
 justify-content: flex-end;
 width: 100%;
}

.circle {
 width: 40px;
 height: 40px;
 border-radius:  50%;
 background: #fff;
 margin-left: 8px;
}

.circle img {
 border-radius: 50%
}

/* global actions buttons*/
.global-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  min-width: 200px;
}

.top-action,
.right-action,
.left-action {
 border-radius: 50%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 background: #fff;
 -webkit-box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
 box-shadow: 0 3px 4px 0px rgba(0,0,0,0.5);
}
.right-action,
.left-action {
 width: 60px;
 height: 60px;
}

.top-action {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.final-state.active {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 400ms ease;
}

.final-state.hidden {
  opacity: 0;
}


/*------ CSS Use Case Example END ------*/

/*----- Stacked Cards component css START -----*/
body {
  overflow-x: hidden;
}

.no-transition {
  -webkit-transition: none ! important;
  transition: none ! important;
}

.stackedcards-overflow {
 overflow-y: hidden !important;
}

.stackedcards.init {
 opacity: 0;/* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
 position: relative;
}

.stackedcards * {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.stackedcards--animatable {
 -webkit-transition: all 400ms ease;
 -o-transition: all 400ms ease;
 transition: all 400ms ease;
}
.stackedcards .stackedcards-container{
 width: 100%;
 height: 100%;
} 
.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
 position: absolute;
 width: 100%; /* set 100% */
 height: 100%; /* set 100% */
 will-change: transform, opacity;
 top: 0;
 /* border-radius: 10px; */
 min-width: 265px;
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
 width: 100%;
 height: 100%;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 left: 0;
 opacity: 0;
 top: 0;
 height: 100%;
}

.stackedcards-overlay.top,
.stackedcards-overlay.right,
.stackedcards-overlay.left {
 background: #fff;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
 display: none !important;
}

.stackedcards-overlay-hidden {
 display: none;
}

.stackedcards-origin-bottom {
 -webkit-transform-origin: bottom;
 -ms-transform-origin: bottom;
 transform-origin: bottom;
}

.stackedcards-origin-top {
 -webkit-transform-origin: top;
 -ms-transform-origin: top;
 transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
 background: #fff; /* set card background background */
 box-shadow: 0 6px 12px 0 rgba(0,0,0,0.30);  
 height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
 position: relative;
 display: block;
}

.card-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.card-text{
  color: #000;
  margin: 1.5em 1.5em 0em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text-head{
  font-size: 20px;
  margin: 10px 0;
}

.card-text-head a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.card-text-content{
  text-align: justify;
  font-size: 15px;
  margin: 10px 0;
}

#stacked-cards-block{
 height: 100%;
 width: 100%;
}

/*----- Stacked Cards component css END -----*/

#sidebarMenu {
  z-index: 1;
  height: 100%;
  position: fixed;
  left: 0;
  width: 200px;
  transform: translateX(-200px);
  transition: transform 250ms ease-in-out;
  background: rgba(0,0,0,0.8);
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}
input[type="checkbox"]:checked ~ .sidebarIconToggle {
  transform: translateX(200px);
}
input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.remSub{
  display: inline;
}
.addSub{
  cursor: pointer;
  display: inline-block;
  background: #aaa;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  padding: .2em;
  width: 90%;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.4);

}

.subLnk {
  margin-top: 1em;
  border-radius: 1em;
  width: 90%;
  height: 20px;
}
/* ======================= */
.link {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.remSub {
  font-size: 2em;
  color: red;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sidebarHead {
  font-size: 2em;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
}